<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="no.uka.findmyapp.android.rest"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.STATUS_BAR" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".demo.AndroidRestSuite"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <receiver android:name=".library.ReciveIntent" android:enabled="true">
				<intent-filter>
					<action android:name="restdebugtool.broadcast.token"></action>
				</intent-filter>
			</receiver>
        </activity>
		<activity android:name="no.uka.findmyapp.android.rest.demo.activities.TemperatureDemo" />
		<activity android:name="no.uka.findmyapp.android.rest.demo.activities.RestDebugTool" />
		<activity android:name=".demo.activities.DebugResult" />
		
		<service android:name=".library.RestIntentService"/>
		
		<provider
			android:name=".library.data.providers.TemperatureProvider" 
			android:authorities="no.uka.findmyapp.android.rest.library.data.providers.TemperatureProvider" />
    </application>
</manifest>